{{#section 'home-page-css'}}
    <link rel="stylesheet" href="/stylesheets/home-page.css">
{{/section}}
<div id="wrap-box">
    <div id="main-content-box">
        <section class="show-window">
            <a href="javascript:;" id="image-show-box"></a>
            <h3 id="image-title"></h3>
            <div id="image-btn-list">
                <ul>
                    <li><a href="javascript:;"></a></li>
                    <li><a href="javascript:;"></a></li>
                    <li><a href="javascript:;"></a></li>
                    <li><a href="javascript:;"></a></li>
                </ul>
            </div>
        </section>
        <section class="study-module">
            <div class="study-module-des">
                <h2>学习天地</h2>
                <p>学习技术，成就卓越程序猿！</p>
                <a href="/study" class="module-button">点击进入</a>
            </div>
            <div class="module-img">
                <div class="study-img1"></div>
                <div class="study-img2"></div>
            </div>
        </section>
        <section class="square-module">
            <div class="module-img">
                <div class="square-img1"></div>
                <div class="square-img2"></div>
            </div>
            <div class="square-module-des">
                <h2>交流广场</h2>
                <p>品鉴牛人文章，不出户行遍四海！</p>
                <p>相遇人生知己</p>
                <a href="/squarePage" class="module-button">点击进入</a>
            </div>
        </section>
        <section class="friend-module">
            <div class="friend-module-des">
                <h2>好友圈</h2>
                <p>结识好友，相伴不孤独！</p>
                <a href="/frendsPage" class="module-button">点击进入</a>
            </div>
            <div class="module-img">
                <div class="friend-img1"></div>
                <div class="friend-img2"></div>
            </div>
        </section>
        <section class="publish-module">
            <div class="module-img">
                <div class="publish-img1"></div>
                <div class="publish-img2"></div>
            </div>
            <div class="publish-module-des">
                <h2>随心发表</h2>
                <p>分享技术，品谈人生趣味！</p>
                <a href="javascripe:;" class="module-button">点击进入</a>
            </div>

        </section>
    </div>
</div>

{{#section 'home-page-js'}}
    <script src="/javascripts/home-page.js"></script>
{{/section}}

