{{#section 'study-page-css'}}
    <link rel="stylesheet" href="/stylesheets/studyPage/studyPage.css">
{{/section}}
<section class="study-top">
    <div class="study-stage">
        <a href="#node-express1">入门篇</a>
        <a href="#node-express2">进阶篇</a>
        <a href="#node-express3">实战篇</a>
    </div>
    <h2>Node与Express</h2>
    <h3>JavaScript、Node 和 Express 的组合是 Web 团队的理想选择，这个强大的、可快速部署的
        技术栈得到了开发社区和大公司的广泛认可。</h3>
</section>

<section ng-app="mainApp" class="study-page-box">
    <div class="study-page-body" ng-view></div>
</section>
