<section style="position: relative">
    <div id="navbar-example" style="position: fixed;top: 100px; left: 0;background-color: whitesmoke" >
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#sec1">111</a></li>
            <li><a href="#sec2">222</a></li>
            <li><a href="#sec3">333</a></li>
        </ul>
    </div>
    <div>
        <div id="sec1" style="height: 500px;background-color: red"></div>
        <div id="sec2" style="height: 500px;background-color: yellow"></div>
        <div id="sec3" style="height: 500px;background-color: blue"></div>
    </div>
</section>