{{#section 'study-default-css'}}
    <link rel="stylesheet" href="/stylesheets/studyPage/study-default.css">
{{/section}}
<!--轮播-->
<div id="carousel-example-generic" class="carousel slide carousel-box" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner carousel-img" role="listbox">
        <div class="item active">
            <img src="/images/studyDefault/lun1.jpg"  style="width: 100%; height: 550px;">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="/images/studyDefault/lun2.jpg" style="width: 100%; height: 550px;">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="/images/studyDefault/lun3.jpg" style="width: 100%; height: 550px;">
            <div class="carousel-caption">

            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--主体内容-->
<section class="default-body">
    <div class="welcome-top">
        <h2>学习空间</h2>
    </div>
    <div class="node-box">
        <h3><a href="javascript:;">Node.js与Express</a></h3>
        <p>Node.js 是一个基于 Chrome V8 引擎的 JavaScript 运行环境。</p>
        <p>Node.js 使用了一个事件驱动、非阻塞式 I/O 的模型，使其轻量又高效。</p>
        <p>Node.js 的包管理器 npm，是全球最大的开源库生态系统。</p>
        <p>Express是基于 Node.js 平台，快速、开放、极简的 web 开发框架。</p>
        <div class="knowledgeimg-box">
            <a href="/node-express1" class="knowledgeimg">
                <div>
                    <img src="/images/studyDefault/node1.jpg">
                </div>
                <div>
                    <p>入门篇</p>
                </div>
            </a>
            <a href="/node-express2" class="knowledgeimg"">
                <div>
                    <img src="/images/studyDefault/node3.jpg">
                </div>
                <div>
                    <p>进阶篇</p>
                </div>
            </a>
            <a href="/node-express3" class="knowledgeimg">
                <div>
                    <img src="/images/studyDefault/node2.jpg">
                </div>
                <div>
                    <p>高级篇</p>
                </div>
            </a>
        </div>
        <div class="arrow-down"></div>
    </div>
    <div class="angular-box">
        <h3><a href="javascript:;">AngularJS</a></h3>
        <p>完全使用JavaScript编写的客户端技术。同其他历史悠久的Web技术（HTML、CSS和JavaScript）配合使用，使Web应用开发比以往更简单、更快捷。</p>
        <div class="knowledgeimg-box">
            <a href="/angular1" class="knowledgeimg">
                <div>
                    <img src="/images/studyDefault/Angular1.jpg">
                </div>
                <div>
                    <p>入门篇</p>
                </div>
            </a>
            <a href="/angular2" class="knowledgeimg">
                <div>
                    <img src="/images/studyDefault/Angular2.jpg">
                </div>
                <div>
                    <p>进阶篇</p>
                </div>
            </a>
            <a href="/angular3" class="knowledgeimg">
                <div>
                    <img src="/images/studyDefault/Angular3.jpg">
                </div>
                <div>
                    <p>高级篇</p>
                </div>
            </a>
        </div>
        <div class="arrow-down"></div>
    </div>
    <div class="mongoDB-box">
        <h3><a href="javascript:;">MongoDB</a></h3>
        <p>MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
        <div class="knowledgeimg-box">
            <a href="/mongodb1" class="knowledgeimg">
                <div>
                    <img src="/images/studyDefault/MongoDB1.jpg">
                </div>
                <div>
                    <p>入门篇</p>
                </div>
            </a>
            <a href="/mongodb2" class="knowledgeimg">
                <div>
                    <img src="/images/studyDefault/MongoDB2.jpg">
                </div>
                <div>
                    <p>进阶篇</p>
                </div>
            </a>
            <a  href="/mongodb3" class="knowledgeimg" >
                <div>
                    <img src="/images/studyDefault/MongoDB3.jpg">
                </div>
                <div>
                    <p>高级篇</p>
                </div>
            </a>
        </div>
    </div>
</section>